@{
    ViewBag.Title = "Home Page";
}

<div class="main-content jumbotron">
    <div id="templatemo_content">

        <h2>University Management System</h2>

        <div class="product_box margin_r_10">
            <a href="@Url.Action("Department")">
                <img src=@Url.Content("~/images/templatemo_image_06.jpg") alt="image" />
            </a>
            <h3>Department</h3>
            <!-- <p>Etiam molestie massa nec nulla sagittis et luctus nulla ullamcorper a porttitor est. <a href="work_detail.jsp">More...</a></p> -->
        </div>

        <div class="product_box margin_r_10">
            <a href="@Url.Action("Course")">
                <img src=@Url.Content("~/images/templatemo_image_01.jpg") alt="image" />
            </a>
            <h3>Course</h3>
            <!-- <p>Aenean aliquam ullamcorper metus, at cursus elit sodales dignissim. <a href="work_detail.jsp">More...</a></p> -->
        </div>

        <div class="product_box margin_r_10">

            <a href="@Url.Action("Teacher")">
                <img src=@Url.Content("~/images/teacher.jpg") alt="image" />
            </a>
            <h3>Teacher</h3>
        </div>

        <div class="product_box margin_r_10">

            <a href="@Url.Action("Student")">
                <img src=@Url.Content("~/images/student.jpg") alt="image" />
            </a>
            <h3>Student</h3>
            <!-- <p>Proin rutrum neque vitae nisi venenatis blandit in ac dui. Curabitur ultricies semper. <a href="work_detail.jsp">More...</a></p> -->
        </div>

        <!-- <div class="cleaner"></div> -->

        <div class="product_box margin_r_10">

            <a href="@Url.Action("Result")">
                <img src=@Url.Content("~/images/Results.jpg") alt="image" />
            </a>
            <h3>Result</h3>
            <!-- <p>Mauris dignissim vehicula sapien, in accumsan quam commodo venenatis. <a href="work_detail.jsp">More...</a> </p> -->
        </div>

        <!-- 			<form action="ViewDueBook" method="get"> -->
        <div class="product_box margin_r_10">
            <a href="@Url.Action("Allocation")">
                <img src=@Url.Content("~/images/allocation.jpg") alt="image" />
            </a>
            <h3>Allocation</h3>
        </div>
        <!-- 			</form> -->

        <div class="cleaner_h20"></div>

        <div class="cleaner"></div>
    </div>
</div>












@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@